@model Tamanho

@{
    ViewData["Title"] = "Detalhes" ;
}
<div class="row">

    <div class="col-md-10">
        <h1>@Model.Nome</h1>
        <p>@Model.Pedacos</p>
        <p>@Model.Descricao</p>
    </div>
</div>