@model PizzariaAtv.Models.ViewModels.Responsive.GetTamanhosDTO
<div class="row">
    <a asp-action="Criar" class="btn btn-block badge-success col-3"> Adicionar @Model.Nome</a>
    <div class="offset-4 ">
        <p>@Model.Nome</p>
    </div>
</div>